*

!.gitignore

!F411/

!F411/Basics/

!F411/Basics/Blink_LED/
!F411/Basics/Blink_LED/Blink_LED.ioc
!F411/Basics/Blink_LED/Core/
!F411/Basics/Blink_LED/Core/Src/
!F411/Basics/Blink_LED/Core/Src/main.c

!F411/Basics/Serial_Wire_Viewer/
!F411/Basics/Serial_Wire_Viewer/Serial_Wire_Viewer.ioc
!F411/Basics/Serial_Wire_Viewer/Core/
!F411/Basics/Serial_Wire_Viewer/Core/Src/
!F411/Basics/Serial_Wire_Viewer/Core/Src/main.c

!F411/Communication/

!F411/Communication/USBD/
!F411/Communication/USBD/USBD.ioc
!F411/Communication/USBD/Core/
!F411/Communication/USBD/Core/Src/
!F411/Communication/USBD/Core/Src/main.c
!F411/Communication/USBD/USB_DEVICE/
!F411/Communication/USBD/USB_DEVICE/App/
!F411/Communication/USBD/USB_DEVICE/App/usbd_cdc_if.c

!F411/Sensors/

!F411/Sensors/HC-SR04/
!F411/Sensors/HC-SR04/HC-SR04.ioc
!F411/Sensors/HC-SR04/Core/
!F411/Sensors/HC-SR04/Core/Src/
!F411/Sensors/HC-SR04/Core/Src/main.c
!F411/Sensors/HC-SR04/USB_DEVICE/
!F411/Sensors/HC-SR04/USB_DEVICE/App/
!F411/Sensors/HC-SR04/USB_DEVICE/App/usbd_cdc_if.c
